.ingredient_table {
  width: 100%;
}

.ingredient_table__header_row {}

.ingredient_table__header_cell {
  text-align: start;
  margin-bottom: 8px;
  border-bottom: 2px solid #e2e8ed;
  padding: 16px 8px;
}